h1 {
  color: #00539B;
}


#landingImage {
  background: url('../img/AAA-Colorado-Cruise.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 50%;
}